<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                            <strong  class="font-bold">{{loginInfo.name}}<br></strong>
                            </span>
                        <span class="text-muted text-xs block">{{loginInfo.rank}}</span>
                        </span>
                    </a>
                </div>
                <div class="logo-element">
                    APS
                </div>
            </li>

            <li *ngFor="let priviledge of loginInfo.priviledges" [ngClass]="{active: activeRoute(priviledge.url_name)}">
                <a [routerLink]="['./'+priviledge.url_name]"><i class={{priviledge.icon_class}}></i> <span class="nav-label">{{priviledge.web_name}}</span></a>
            </li>
        </ul>

    </div>
</nav>