<div class="authClass" *ngIf="getEditMode()">
    <h1>{{getUserInfo("emailAddress")}}</h1>
    <form class="example-form">

        <mat-form-field class="example-full-width">
            <mat-label>Name</mat-label>
            <input minlength="4" matInput required #name [value]="getUserInfo('name')">
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
            <mat-label>Rank</mat-label>
            <select matNativeControl required #rank [value]='getUserInfo("rank")'>
                <option *ngFor="let rank of getRanks()"> {{rank}} </option>
            </select>
        </mat-form-field>
        <br>
        <button type="submit" (click)="editProfile(name.value ,rank.value)">Edit</button>
    </form>
</div>

<div *ngIf="!getEditMode()">
    <div *ngIf="getSuccessMode()">
        <h1> changed successfully</h1>
        <div mat-dialog-action class="col-sm-12">
            <button [mat-dialog-close]=true mat-raised-button>Edit</button>
        </div>
    </div>
    <div *ngIf="!getSuccessMode()">
        <h1> Error! </h1>
        <div mat-dialog-action class="col-sm-12">
            <button [mat-dialog-close]=false mat-raised-button>Edit</button>
        </div>
    </div>
</div>