<table class="table">
    <thead class="thread">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Rank</th>
            <th scope="col">Approve</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of non_approved_users">
            <td></td>
            <td>{{user.name}}</td>
            <td>{{user.emailAddress}}</td>
            <td>{{user.rank}}</td>
            <td><button (click)="approveUser(user.userId,user.emailAddress)">Approve</button></td>
        </tr>
    </tbody>
</table>