<form>
    <div class="row">
        <div class="col-sm-12">
            <h1>Edit Accident</h1>
        </div>
    </div>

    <div class="row">
        <!-- <div class="col-sm-6">
            <div class="inputBox">
                <div class="inputText">Road surface</div>
                <input [(ngModel)]="data.road_surface" type="text" name="road-surface" class="input" value={{data.road_surface}}>
            </div>
        </div> -->
        <div class="col-sm-6">
            <div class="inputBox ">
                <div class="inputText">Road surface</div>
                <select [(ngModel)]="data.road_surface" name="road-surface" class="input">
                    <option *ngFor="let surface of road_surface">{{surface}}</option>
                </select>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="inputBox">
                <div class="inputText">Vehicle Amount</div>
                <input [(ngModel)]="data.no_of_vehicles" type="text" name="vehicle-amount" class="input">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="inputBox">
                <div class="inputText">Date</div>
                <input [(ngModel)]="data.date" type="date" name="date" class="input">
            </div>
        </div>

        <div class="col-sm-6">
            <div class="inputBox">
                <div class="inputText">Time</div>
                <input [(ngModel)]="data.time" type="time" name="time" class="input">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="inputBox">
                <div class="inputText">First road class</div>
                <input [(ngModel)]="data._1st_road_class" type="text" name="first-road-class" class="input">
            </div>
        </div>

        <!-- <div class="col-sm-6">
            <div class="inputBox">
                <div class="inputText">LIghtning condition</div>
                <input [(ngModel)]="data.lightning_conditions" type="text" name="linghtning" class="input" value={{data.lightning_conditions}}>
            </div>
        </div> -->
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="inputBox ">
                <div class="inputText">Lightning condition</div>
                <select [(ngModel)]="data.lightning_conditions" name="linghtning" class="input">
                    <option *ngFor="let light of lightning_conditions">{{light}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- <div class="col-sm-6">
            <div class="inputBox">
                <div class="inputText">Weather condition</div>
                <input [(ngModel)]="data.weather" type="text" name="weather" class="input" value={{data.weather}}>
            </div>
        </div> -->
        <div class="col-sm-6">
            <div class="inputBox ">
                <div class="inputText">Weather condition</div>
                <select [(ngModel)]="data.weather" name="weather" class="input">
                    <option *ngFor="let weather of weathers">{{weather}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="inputBox ">
                <div class="inputText">Vehicle Type</div>
                <select [(ngModel)]="data.vehicleType" name="vehicle-type" class="input">
                    <option *ngFor="let vehicle of vehicle_type">{{vehicle}}</option>
                </select>
            </div>
        </div>
    </div>
    <!-- 
        <div class="col-sm-12">
            <div class="inputBox">
                <div class="inputText">Vehicle type</div>
                <input [(ngModel)]="data.vehicleType" type="text" name="vehicle-type" class="input" value={{data.vehicleType}}>
            </div>
        </div> -->

    <div class="row">
        <!-- <div class="col-sm-6">
            <div class="inputBox">
                <div class="inputText"> Casualty class</div>
                <input [(ngModel)]="data._class" type="text" name="class" class="input" value={{data._class}}>
            </div>
        </div> -->
        <div class="col-sm-6">
            <div class="inputBox ">
                <div class="inputText">Casualty class</div>
                <select [(ngModel)]="data._class" name="class" class="input">
                    <option *ngFor="let class of classes">{{class}}</option>
                </select>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="inputBox ">
                <div class="inputText">Casualty severity</div>
                <select [(ngModel)]="data.casualty_severity" name="severity" class="input">
                    <option *ngFor="let severe of casualty_severity">{{severe}}</option>
                </select>
            </div>
        </div>

        <!-- <div class="col-sm-6">
            <div class="inputBox">
                <div class="inputText">Casualty severity</div>
                <input [(ngModel)]="data.casualty_severity" type="text" name="severity" class="input" value={{data.casualty_severity}}>
            </div>
        </div> -->
    </div>
    <div class="row">
        <!-- <div class="col-sm-6">
            <div class="inputBox">
                <div class="inputText">Sex</div>
                <input [(ngModel)]="data.sex_of_casualty" type="text" name="sex" class="input" value={{data.sex_of_casualty}}>
            </div>
        </div> -->
        <div class="col-sm-6">
            <div class="inputBox ">
                <div class="inputText">Casualty Sex</div>
                <select [(ngModel)]="data.sex_of_casualty" name="sex" class="input">
                    <option *ngFor="let sex of sex_of_casualty">{{sex}}</option>
                </select>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="inputBox">
                <div class="inputText">Age</div>
                <input [(ngModel)]="data.age_of_casualty" type="text" name="age" class="input">
            </div>
        </div>
    </div>
    <div class="row">
        <!-- <div class="col-sm-6">
            <div class="inputBox">
                <div class="inputText"> City </div>
                <input [(ngModel)]="data.city" type="text" name="class" class="input" value={{data.city}}>
            </div>
        </div> -->
        <div class="col-sm-6">
            <div class="inputBox ">
                <div class="inputText">City</div>
                <select [(ngModel)]="data.city" name="city" class="input">
                    <option *ngFor="let city of cities">{{city}}</option>
                </select>
            </div>
        </div>
        <!-- <div class="col-sm-6">
            <div class="inputBox">
                <div class="inputText"> Holiday</div>
                <input [(ngModel)]="data.holiday" type="text" name="class" class="input" value={{data.holiday}}>
            </div>
        </div> -->
        <div class="col-sm-6">
            <div class="inputBox ">
                <div class="inputText">Holiday</div>
                <select [(ngModel)]="data.holiday" name="holiday" class="input">
                    <option *ngFor="let holiday of holiday_bool">{{holiday}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="inputBox">
                <div class="inputText"> Affected drivers </div>
                <input [(ngModel)]="data.affected_drivers" type="text" name="drivers" class="input">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="inputBox">
                <div class="inputText"> Affected pedetrians </div>
                <input [(ngModel)]="data.affected_pedestrians" type="text" name="pedestrians" class="input">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="inputBox">
                <div class="inputText"> Affected passengers </div>
                <input [(ngModel)]="data.affected_passengers" type="text" name="passengers" class="input">
            </div>
        </div>
    </div>

    <div class="row button-row">
        <div mat-dialog-action class="col-sm-3 ">
            <button class="btn btn-primary btn-sm" [mat-dialog-close]="data" mat-raised-button>Okay</button>
        </div>
        <div mat-dialog-action class="col-sm-3 ">
            <button class="btn btn-danger btn-sm" [mat-dialog-close]=false mat-raised-button>Cancel</button>
        </div>
    </div>
</form>