<form>
    <div class="row">
        <div class="col-sm-12">
            <h1>Edit Accident</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="inputBox ">
                <div class="inputText">Road surface</div>
                <select [(ngModel)]="data.road_surface" name="road-surface" class="input">
                    <option *ngFor="let surface of road_surface">{{surface}}</option>
                </select>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="inputBox">
                <div class="inputText">Vehicle Amount</div>
                <input [(ngModel)]="data.no_of_vehicles" type="text" name="vehicle-amount" class="input">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="inputBox">
                <div class="inputText">Date</div>
                <input [(ngModel)]="data.date" type="date" name="date" class="input">
            </div>
        </div>

        <div class="col-sm-6">
            <div class="inputBox">
                <div class="inputText">Time</div>
                <input [(ngModel)]="data.time" type="time" name="time" class="input">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="inputBox">
                <div class="inputText">First road class</div>
                <input [(ngModel)]="data._1st_road_class" type="text" name="first-road-class" class="input">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="inputBox ">
                <div class="inputText">Severity</div>
                <select [(ngModel)]="data.severity" name="severity" class="input">
                    <option *ngFor="let severe of casualty_severity">{{severe}}</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="inputBox ">
                <div class="inputText">Lightning condition</div>
                <select [(ngModel)]="data.lightning_conditions" name="linghtning" class="input">
                    <option *ngFor="let light of lightning_conditions">{{light}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="inputBox ">
                <div class="inputText">Weather condition</div>
                <select [(ngModel)]="data.weather" name="weather" class="input">
                    <option *ngFor="let weather of weathers">{{weather}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="inputBox ">
                <div class="inputText">Vehicle Type</div>
                <select [(ngModel)]="data.vehicleType" name="vehicle-type" class="input">
                    <option *ngFor="let vehicle of vehicle_type">{{vehicle}}</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="inputBox">
                <div class="inputText"> Casuality male amount </div>
                <input [(ngModel)]="data.no_of_male" type="text" name="male" class="input">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="inputBox">
                <div class="inputText"> Casuality female amount </div>
                <input [(ngModel)]="data.no_of_female" type="text" name="female" class="input">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="inputBox ">
                <div class="inputText">City</div>
                <select [(ngModel)]="data.city" name="city" class="input">
                    <option *ngFor="let city of cities">{{city}}</option>
                </select>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="inputBox ">
                <div class="inputText">Holiday</div>
                <select [(ngModel)]="data.holiday" name="holiday" class="input">
                    <option *ngFor="let holiday of holiday_bool">{{holiday}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="inputBox">
                <div class="inputText"> Affected drivers </div>
                <input [(ngModel)]="data.affected_drivers" type="text" name="drivers" class="input">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="inputBox">
                <div class="inputText"> Affected pedetrians </div>
                <input [(ngModel)]="data.affected_pedestrians" type="text" name="pedestrians" class="input">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="inputBox">
                <div class="inputText"> Affected passengers </div>
                <input [(ngModel)]="data.affected_passengers" type="text" name="passengers" class="input">
            </div>
        </div>
    </div>

    <div class="row button-row">
        <div mat-dialog-action class="col-sm-3 ">
            <button class="btn btn-primary btn-sm" [mat-dialog-close]="data" mat-raised-button>Okay</button>
        </div>
        <div mat-dialog-action class="col-sm-3 ">
            <button class="btn btn-danger btn-sm" [mat-dialog-close]=false mat-raised-button>Cancel</button>
        </div>
    </div>
</form>