/* You can add global styles to this file, and also import other style files */

@import '~firebaseui/dist/firebaseui.css';
.snack-error {
    background: crimson;
    color: lightcyan;
}

.snack-success {
    background-color: lightblue;
    color: mediumblue;
}

.mat-simple-snackbar-action.ng-star-inserted {
    color: inherit;
}